.onlyoffice_loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #2b95db;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
