version: '3.8'
services:
  server:
    image: onlyoffice/trello-server:${PRODUCT_VERSION}
    container_name: onlyoffice-trello-server
    environment:
      - IS_DEVELOPMENT=${IS_DEVELOPMENT}
      - IS_DEBUG=${IS_DEBUG}
      - SERVER_HOST=${SERVER_HOST}
      - SERVER_PORT=${SERVER_PORT}
      - CLIENT_HOST=${CLIENT_HOST}
      - POWERUP_NAME=${POWERUP_NAME}
      - POWERUP_ID=${POWERUP_ID}
      - POWERUP_APP_KEY=${POWERUP_APP_KEY}
      - POWERUP_APP_SECRET=${POWERUP_APP_SECRET}
      - POWERUP_APP_ENCRYPTION_KEY=${POWERUP_APP_ENCRYPTION_KEY}
      - PROXY_ADDRESS=${PROXY_ADDRESS}
      - PROXY_ENCRYPTION_KEY=${PROXY_ENCRYPTION_KEY}
    stdin_open: true
    restart: always
    ports:
      - '1111:1111'

  client:
    image: onlyoffice/trello-client:${PRODUCT_VERSION}
    container_name: onlyoffice-trello-client
    environment:
      - ENABLE_BUNDLE_ANALYZER=${ENABLE_BUNDLE_ANALYZER}
      - BACKEND_HOST=${SERVER_HOST}
      - POWERUP_NAME=${POWERUP_NAME}
      - POWERUP_APP_KEY=${POWERUP_APP_KEY}
    stdin_open: true
    restart: always
    ports:
      - '80:80'

  proxy:
    image: onlyoffice/trello-proxy:${PRODUCT_VERSION}
    container_name: onlyoffice-trello-proxy
    environment:
      - PROXY_SECRET=${PROXY_ENCRYPTION_KEY}
      - HOST=${PROXY_HOST}
      - PORT=${PROXY_PORT}
      - PROXY_KEY=${PROXY_ENCRYPTION_KEY}
      - LIMIT=${PROXY_LIMIT}
      - IP_LIMIT=${PROXY_IP_LIMIT}
      - ENV=${PROXY_ENV}
    stdin_open: true
    restart: always
    ports:
      - '8080:8080'
