.onlyoffice_modal-header {
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-bottom: 1rem;
}

.onlyoffice_modal-header > img {
  width: 10rem;
  height: 3rem;
}

@media all and (max-width: 582px) {
  .onlyoffice_modal-header {
    justify-content: center;
    flex-direction: column;
  }
}
