.modal_header {
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-bottom: 1rem;
}

.modal_header > img {
  width: 10rem;
  height: 3rem;
}

@media all and (max-width: 582px) {
  .modal_header {
    justify-content: center;
    flex-direction: column;
  }
}
