.onlyoffice_dropdown__button {
  background-color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  cursor: pointer;
  margin: 0;
}

.onlyoffice_dropdown__button_checksection {
  width: 10%;
}

.onlyoffice_checkicon {
  display:inline-block;
  width: 22px;
  height:22px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.onlyoffice_checkicon__base {
  position: absolute;
  width:3px;
  height:3px;
  background-color:#ccc;
  left:8px;
  top:12px;
}

.onlyoffice_checkicon__tip {
  position: absolute;
  width:3px;
  height:9px;
  background-color:#ccc;
  left:11px;
  top:6px;
}

