#searchbar_container {
  display: flex;
  width: 50%;
  margin: 0;
  justify-content: end;
}

#searchbar_container > * {
  margin: 0;
}

#searchbar_container__input {
  padding: 10px;
  font-size: 17px;
  border: 0.5px solid #e5e5e5;
  float: left;
  background-color: #fafbfc;
  border: 0px;
  margin-bottom: 0px;
}

#searchbar_container__btn,
#searchbar_container__btn:hover,
#searchbar_container__btn:focus {
  position: absolute;
  transform: translateX(-5%);
  float: left;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

@media all and (max-width: 582px) {
  #searchbar_container {
    width: 100%;
  }
}
